body {

}

.navbar {
  margin-bottom: 20px;
}

hr {
   height: 1px;
   margin-left: auto;
   margin-right: auto;
   background-color:#609f8f;
   color:#609f8f;
   border: 0 none;
}
.page-top{
	margin-top:-5px;
}


.home-headline{
	font-family: 'Times New Roman', Times, serif;
	font-size:24px;
	color: #fff;
	margin: auto;
	text-align: center;
	margin-top: -13px;
}

.home-headline span {
	background-color: #231F20;
        padding: 5px 22px;
	
}

.section-headline {
	font-family: 'Times New Roman', Times, serif;
	font-size:24px;
	color: #fff;
	margin: auto;
	text-align: center;
	margin-top: 1.6cm;
}

.section-headline span {
	background-color: #231F20;
    padding: 5px 22px;
	
}
